.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.125rem;
  & > img {
    width: 50%;
  }
  & > p {
    text-align: center;
  }
  @media screen and (min-width: 64rem) {
    gap: var(--gap--large);
    & > div {
      display: flex;
      align-items: center;
      gap: 5%;
      max-width: 62.5rem;
      & > p {
        width: 50%;
      }
      & > img {
        width: 50%;
      }
    }
  }
}
