.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-family: var(--font-primary);
  background-color: transparent;
  min-width: 12.25rem;
  min-height: 1.75rem;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--text-color);
  border: 0.25rem double var(--website-secondary-color);
  & > svg {
    fill: var(--website-secondary-color);
    height: 1.25rem;
    width: 1.25rem;
  }
  & > span {
    flex: 1;
  }
  @media screen and (min-width: 48rem) {
    font-size: var(--font-size-buttons-tablet);
    min-width: 17.813rem;
  }
  @media screen and (min-width: 64rem) {
    font-size: var(--font-size-buttons-desktop);
  }
}
