.section {
  padding: 1rem;
  position: relative;
}

.section:first-child {
  padding: 0;
}

.section::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Grubość linii */
  background-color: var(
    --website-secondary-color
  ); /* Rozmiar i odstęp między kropkami */
}
