.header__navigation {
  display: none;
  & > a {
    color: var(--website-secondary-color);
    transition: color linear 0.6s;
    &:hover {
      color: rgb(199, 162, 111);
    }
  }
  @media screen and (min-width: 64rem) {
    display: flex;
    gap: 2.87rem;
    font-size: var(--font-size-drop-down-menu);
  }
}
