.TestPageOrganism {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.87rem;
  align-items: center;
  & > div {
    margin-left: 1.25rem;
    max-width: 12.5rem;
  }
  & > img {
    max-width: 18.7rem;
    max-height: 26rem;
    @media screen and (min-width: 48rem) {
      max-width: 29rem;
      max-height: 38rem;
    }
  }
}
