.TestPageOrganism {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  & > div {
  }
  & > img {
    /* max-width: 18.7rem;
    max-height: 26rem; */
    width: auto;
    height: auto;
    @media screen and (min-width: 48rem) {
      max-width: 40%;
    }
  }
  @media screen and (min-width: 48rem) {
    flex-wrap: nowrap;
    font-size: 2rem;
    justify-content: space-evenly;
    gap: 10%;
    padding: 0 10%;
  }
}
