.TestPageOrganism {
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  width: 100%;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  @media screen and (min-width: 64rem) {
    flex-wrap: nowrap;
    font-size: 1.8rem;
    justify-content: space-between;
    gap: 10%;
    padding: 0 10%;
  }
}
