body {
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

code {
  font-family: 'Nunito Sans', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
